@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
  background: #eeeeee;
  font-family: "Raleway";
}

.header {
  color: #5a76d3;
  text-align: center;
  font-size: 100px;
  box-shadow: 0px 0px 15px 5px #5a76d3;
  padding: 10px;
  background: #ffffff;
}

#main {
  background: #ffffff;
  max-width: 800px;
  padding: 0;
  box-shadow: 0px 0px 5px 1px grey;
  margin-top: 30px;
  border-radius: 15px;
}

input {
  border-radius: 15px;
  padding: 30px;
  padding-left: 50px;
  width: 100%;
  font-size: 50px;
  line-height: 50px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
input:focus {
  outline: none;
}

.task {
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  padding: 30px;
  padding-left: 50px;
}

hr {
  width: 100%;
  margin: 0;
}

p {
  font-size: 15px;
  padding: 15px;
  color: grey;
  margin-bottom: 0px;
}

span {
  color: #5a76d3;
  display: none;
}

span:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.task:hover span {
  display: inline;
}

.notasks {
  color: #5a76d3;
}

.palito1,
.palito2 {
  margin: auto;
  height: 5px;
  max-width: 780px;
  background: #5a76d3;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px grey;
}

.palito2 {
  background: #8ea6f6;
  max-width: 770px;
}
