@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
  background: #eeeeee;
  font-family: "Raleway";
}

.header {
  text-align: center;
  font-size: 70px;
  color: #6656bc;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(92, 76, 178), 1px 1px 0 rgb(82, 66, 168), 2px 2px 0 rgb(71, 55, 157),
    3px 3px 0 rgb(61, 45, 147), 4px 4px 0 rgb(51, 35, 137), 5px 5px 0 rgb(41, 25, 127),
    6px 6px 5px rgba(0, 0, 0, 0.78), 6px 6px 1px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#main {
  background: #ffffff;
  max-width: 500px;
  padding: 0;
  box-shadow: 1px 5px 5px 1px grey;
  margin-top: 30px;
  border-radius: 15px;
}

#todoinput {
  border-radius: 15px;
  padding: 30px;
  padding-left: 50px;
  width: 100%;
  font-size: 30px;
  line-height: 30px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
#todoinput:focus {
  outline: none;
}

.task {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  padding: 20px;
  padding-left: 50px;
}

hr {
  width: 100%;
  margin: 0;
}

.delete-btn {
  color: #6656bc;
  display: none;
  font-weight: 600;
}

.delete-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: rgb(41, 25, 127);
}

.task:hover .delete-btn {
  display: inline;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: grey;
}

.bottom-text {
  color: grey;
  margin-bottom: 0px;
}

.btn-danger {
  background-color: #6656bc;
  border: 0;
}
.btn-danger:hover {
  transform: scale(1.1);
  background-color: rgb(41, 25, 127);
}
