@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
  background: #eeeeee;
  font-family: "Raleway";
}

.header {
  color: #5a76d3;
  text-align: center;
  font-size: 90px;
  padding: 10px;
}

#main {
  background: #ffffff;
  max-width: 500px;
  padding: 0;
  box-shadow: 1px 5px 5px 1px grey;
  margin-top: 30px;
  border-radius: 15px;
}

#todoinput {
  border-radius: 15px;
  padding: 30px;
  padding-left: 50px;
  width: 100%;
  font-size: 30px;
  line-height: 30px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
#todoinput:focus {
  outline: none;
}

.task {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  padding: 20px;
  padding-left: 50px;
}

hr {
  width: 100%;
  margin: 0;
}

.bottom-text {
  font-size: 15px;
  padding: 15px;
  color: grey;
  margin-bottom: 0px;
}

.delete-btn {
  color: #5a76d3;
  display: none;
}

.delete-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.task:hover .delete-btn {
  display: inline;
}

.notasks {
  color: #5a76d3;
}
